/*Editor CSS*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
*,*:before,*:after{
    box-sizing:border-box;
    margin:0;padding:0;
}
.editor-wrapper {
    position:relative;
    height:375px;
    width: 100%;
}
#ace-editorid { 
    font-size:.9em;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    position: absolute;
    top:0; right:0; bottom:0; left:0;
    border:1px solid #ddd;
    border-radius:10px;
}

/*Textarea CSS*/
textarea {
    width:87%;
    resize:none;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.popup {
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    display: none;
}

.popup-contents {
    height: 50%;
    width: 50%;
    background: white;
    border-radius:5px;
    margin: auto;
    top: 25%;
    position:relative;
    text-align: center;
}